<context id="emergent-task-allocation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
	
	<context id="Tasks">
		<!-- Programming tasks -->
	</context>
	<context id="Agents">
		<!-- Developers -->
	</context>
	<context id="Skills">
		<!-- Programming languages (skills) -->
	</context>

</context>
